
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #2f2f2f;
    max-width: 100%;
    margin: 0 auto;
}
.profile-picture {
    border-radius: 50%;
    border: 5px solid #00c4ff;
    padding: 10px;
    margin-right: 30px;
    flex-shrink: 0;
}

.profile-picture img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.about-content {
    max-width: 600px;
}
.about-content p{
    font-size: 20px;
}
.about-content h2 span{
    color: #00eeff;
}
.about-content h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}