* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    color: #ededed;
    background-color:#151925;
    font-family: Arial, sans-serif;

}

/* Navbar Styles */


nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    animation: slideTop .5s ease forwards;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 25px;

}

@keyframes slideTop  {
    0%{
        transform: translatey(100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
nav ul li a:hover{
    color: #00eeff;
}


    nav ul li{
        padding: 20px;


    }
    .menu-icon{
        display: block;

    }

/* To position and style the header section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #151925; /* Keeps header background color */
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    animation: slideRight 1s ease forwards;
}


@keyframes slideRight  {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media (max-width: 700px) {
    nav {
        padding: 10px 20px;
        flex-direction: column;
        height: auto;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    nav ul li a {
        font-size: 24px;
    }
    .logo {
        font-size: 24px;
    }
}





