.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
}

.home-content {
    max-width: 50%;
}

.home-content h3 {
    font-size: 30px;
}

.home-content h1 {
    font-size: 40px;
    margin: -5px 0;
}
.home .text{
    color: #00eeff;
}

.image {
    border-radius: 50%;
    padding: 10px;
    background-color: #00ffff;
    box-shadow: 0 0 30px #00ffff;
}

.profile-image {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #00eeff;
    margin: 20px 10px;
}
.icon a:hover {
    background-color: #0ef;
    color: #fff;
    transform: translateY(-5px);
}
@media (max-width: 900px) {
    .New {
        display: initial;
    }

    .menuList {
        right: -100%;
        transition: 0.5s;
    }

    .header {
        padding: 20px 5%;
    }

    .home-content {
        max-width: 90%;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    .icon a {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .home {
        flex-direction: column;
        padding-top: 2rem;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
    }
}