.home-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.image {
    position: relative;
    border-radius: 50%;
    padding: 20px;
    background-color: #00ffff;
    box-shadow: 0 0 30px #00ffff;
}

.profile-image {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.home-content h5 {
    color: white;
    font-size: 20px;
}

.home-content h5 span {
    color: #00d9ff;
    font-size: 26px;
}

.home-content h1 {
    color: #00d9ff;
}

.home-content p {
    color: #e5e5e5;
    font-size: 20px;
    line-height: 1.6;
}

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 30px;
    color: #00eeff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.icon a:hover {
    background-color: #0ef;
    color: #fff;
    transform: translateY(-5px);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 12rem;
    padding-left: 20px;
    padding-right: 20px;
}
/* Responsive Design */
@media (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 10px;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 0;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }

    .image {
        margin-bottom: 20px;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }

    .home-content h5 {
        font-size: 18px;
    }

    .home-content h1 {
        font-size: 22px;
    }

    .home-content p {
        font-size: 16px;
    }
}