.services {
    padding: 40px;
    background-color: #01233e;
    color: #fff;
    text-align: center;
}
.services .heading {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.heading span {
    color: #00ffff;
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.services-column {
    background-color: #2f2f2f;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 300px; /* Default max width for larger devices */
}

.services-column:hover {
    border: 2px solid #00c4ff;
    transform: translateY(-10px);
}

.services-box i {
    font-size: 50px;
    color: #00ffff;
    margin-bottom: 20px;
}

.services-box h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #fff;
}

.services-box p {
    color: #bbb;
    font-size: 20px;
}
