.skills-section {
    padding: 50px 0;
    text-align: center;
}
.skills-section h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff
}
.skills-section h2 span{
    color: #00eeff;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151925;
    padding: 20px;
    border-radius: 5px;

}
.skills-section h3{
    margin-top: 15px;
    font-size: 20px;
    color: white;
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #5c76df;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;

}

.circle span {
    display: block;
    color: #ff6347;
}



#circle-2 {
    border-color: #3498db;
}

#circle-3 {
    border-color: #f1c40f;
}

#circle-4 {
    border-color: #2ecc71;
}
